@import "../../data/vars";

.gameCard {
    background-color: #102130;
    width: 19rem;
    border-radius: 24px;

    &>img {
        width: 100%;
        border-radius: 24px;
    }

    .gameCardContent {
        padding: 2.25rem 2.25rem 0 2.25rem;

        h3 {
            padding-bottom: 1.5rem;
        }

        p {
            color: $game_item_description_color;
            padding-bottom: 3rem;
        }

        .buttonReadMore {
            background-color: $readmore_normal_background_color;
            padding: 0.75rem 1.5rem;
            width: 9rem;
            text-align: center;
        }

        .bottomLine {
            height: 1px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            ;
            margin-top: 3rem;
        }


    }

    .filterTagContent {
        padding: 2.25rem;
        display: flex;
        flex-direction: row;

        button {
            margin-right: 0.8rem;
            border: solid 1px;
            border-radius: 15px;
            border-color: $readmore_normal_background_color;
            align-items: center;
        }

        button img {
            padding: 0.3rem 0.5rem;
            text-align: center;
        }

        button p {
            padding: 0.3rem 0.8rem;
            text-align: center;
        }




    }


}