.allGamesPage {
    .gridList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 290px));
        margin: 0 3rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding-top: 6rem;
    }
}