.allGamesPage {

    .content {
        padding: 1rem 6rem;

        header {
            display: flex;
            padding: 2rem 0;
            // justify-content: space-evenly;
            align-items: center;
            gap: 1.5rem;
            flex-wrap: wrap;
        }

        min-height: 120vh;

        .gridList {
            // display: grid;
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
            justify-content: space-between;
            align-items: center;
            gap: 3rem 2rem;
            padding: 1.5rem 0;

            // &>* {
            //     margin: 0 auto;
            // }
        }


        .oops {
            // TODO: Add Styling for the case of no games being found
        }
    }
}