.allGamesPage {
    min-height: 120vh;
    .gridList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 290px));
        margin: 0 3rem;
        justify-content: space-between;
        gap: 1rem;
        row-gap: 2rem;
        padding-top: 6rem;
    }

    .oops {
        // TODO: Add Styling for the case of no games being found
    }
}