@import "../../data/vars";

.genericDropdown {
	position: relative;
	width: 15rem;
	display: inline-block;
	color: $button_normal_foreground_color;
	background: #FF4654;
	border-radius: 15px;
	outline: 2px solid transparent;
	border: 2px solid $button_normal_border_color;


	transition-duration: 200ms;
	transition-property: outline-color,
		background-color;

	user-select: none;
	margin: 6rem 3rem 0 3rem;

	.selectBox {
		display: block;

		select {
			height: 2.5rem;
			background: transparent;
			padding: 0 1rem;
			border: none;
			width: 100%;
			font-family: Oswald;

		}

		&:hover {
			color: $button_hovered_foreground_color;
			background: $button_hovered_background_color;
			outline: 2px solid $button_hovered_outline_color;
		}

		&:active {
			background: $button_active_background_color;
		}
	}

	.option {
		position: absolute;
		left: 0;
		right: 0;

		background: $filter_normal_background_color;
		border-radius: 15px;


		label {
			display: flex;
			align-items: center;
			padding: 0.7rem 1rem;
			background-color: $filter_options_background_color;
			margin: 1rem 0.5rem;
			border-radius: 12px;


			input[type="checkbox"] {
				margin-right: 10px;
				height: 20px;
				width: 20px;
				border-style: none;
				outline: 2px solid white;
			}

			&:hover {
				color: $button_hovered_foreground_color;
				background: $button_hovered_background_color;
				outline: 2px solid $button_hovered_outline_color;
			}

			&:active {
				background: $button_active_background_color;
			}
		}
	}
}