@import "../../data/vars";

.genericDropdown {
	position: relative;
	width: 15rem;
	display: inline-block;
	color: $button_normal_foreground_color;
	background: #FF4654;
	border-radius: 15px;

	user-select: none;
	margin: 3rem 3rem 0 6rem;

	.selectBox {
		display: block;
		outline: 2px solid transparent;
		border-radius: inherit;
		border: 2px solid $button_normal_border_color;
		transition-duration: 200ms;
		transition-property: outline-color,
			background-color;


		select {
			height: 2.5rem;
			background: transparent;
			padding: 0 1.5rem;
			border: none;
			width: 85%;
			font-family: Oswald;
			font-weight: 700;
			appearance: none;
		}

		&::after {
			content: "V";
		}

		&:hover {
			color: $button_hovered_foreground_color;
			background: $button_hovered_background_color;
			// outline: 2px solid $button_hovered_outline_color;
		}

		&:active {
			background: $button_active_background_color;
		}
	}

	::-webkit-scrollbar {
		width: 7px;
		margin-left: 10px;
	}

	::-webkit-scrollbar-track {
		background: $filter_normal_background_color;
	}

	::-webkit-scrollbar-thumb {
		background: $card_hovered_border_color;
		border-radius: 24px;
	}



	.options {
		position: absolute;
		left: 0;
		right: 0;

		background: $filter_normal_background_color;
		border-radius: 15px;
		margin-top: .2rem;

		max-height: 220px;

		overflow-y: auto;

		z-index: 4;

		input[type="text"] {
			background-image: url("../../assets/images/icon_search.svg");
			background-color: rgba(255, 255, 255, 0.02);
			background-repeat: no-repeat;
			background-position: 0.75rem;
			background-size: 1rem;
			border-radius: 12px;
			border: 2px solid $button_normal_border_color;
			outline: 2px solid transparent;
			height: 2.5rem;
			padding: 1rem 0.25rem 1rem 2.5rem;
			margin: 1rem 0.5rem 0.75rem 0.5rem;

			font-size: 1rem;
			line-height: 1.2rem;

			transition-property: background-color, outline-color;
			transition-duration: 200ms;

			&:hover {
				outline: 2px solid $button_hovered_outline_color;
			}

			&:active,
			&:focus {
				outline: 2px solid $button_active_outline_color;
			}
		}

		label {
			display: flex;
			align-items: center;
			padding: 0.7rem 1rem;
			background-color: $filter_options_background_color;
			margin: 0.75rem 0.5rem;
			border-radius: 12px;

			input[type="checkbox"] {
				margin-right: 15px;
				height: 15px;
				width: 15px;
				outline: 2px solid $main_foreground_color;
				outline-offset: 2px;
				appearance: none;
				-webkit-appearance: none;

				cursor: pointer;
				accent-color: $main_foreground_color;
				-webkit-border-radius: 0;
			}

			input[type="checkbox"]:checked {
				background: white;
			}

			input[type="checkbox"]:checked:after {
				content: "";
				font-size: 2rem;
				line-height: .7rem;
			}

			&:hover {
				color: $button_hovered_foreground_color;
				background: $button_hovered_background_color;
				outline: 2px solid $button_hovered_outline_color;

			}

			&:active {
				background: $button_active_background_color;
			}
		}
	}
}