@import "../../data/vars.scss";


.homePage {
    header {
        // margin-bottom: 6rem;
    }
}


.buttonright {
    align-self: end;
}

.buttonReadMore {
    background-color: $readmore_normal_background_color;
    padding: 0.75rem 1.5rem;
    width: 9rem;
    text-align: center;
    overflow: hidden;
    float: right;
    margin: 2.5rem 6rem;



}

/* position: absolute;
right: 0; */