@import "../../data/vars";

.gameCardSec {
    margin: 0 6rem;

    &>h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

}


.gameCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 290px));
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}