@import "../../data/vars.scss";

.listItem_container {
    background: $card_normal_background_color;
    width: 19rem;
    border-radius: 24px;
    color: $card_normal_foreground_color;

    img :nth-of-type(1) {
        width: 100%;
        border-radius: 24px;
    }

}