@import "../../data/vars";

// section,
// h2 {
//     margin: 0 3rem;

//     &>h2 {
//         margin-top: 10rem;
//         margin-bottom: 3rem;
//     }
// }

.gameCardSec {
    margin: 0 3rem;

    &>h2 {
        margin-top: 10rem;
        margin-bottom: 3rem;
    }

}


.gameCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 290px));
    gap: 2rem;


}