.heroSection {
	height: 65vh;
	object-fit: cover;
	background-position: center;

	display: flex;
	justify-content: flex-start;
	align-items: flex-end;

	h1 {
		font-size: 4rem;
		width: 50%;
		padding: 4rem 6rem;
		line-height: 4.5rem;
	}
}