.gameDetailsPage {

	img {
		border-radius: 24px;
	}

	p {
		font-size: 1rem;
	}

	button,
	a {
		display: block;
	}

	h2 {
		margin: 6rem 0 3rem 5rem;
		font-size: 3rem;
	}

	// __________ Hero-Section _________________________________________

	.heroSection {
		max-width: 100%;
		background-size: cover;
		height: auto;
		aspect-ratio: 21 / 9;
	}

	//___________ Article with Title & Thumbnail ______________________

	.article {
		display: flex;
		justify-content: center;
		gap: 9rem;
	}

	.thumbnail_button_article {
		width: 50%;
		margin-left: 5rem;

		img {
			width: 30rem;
		}

		h3 {
			margin: 2.25rem 0 0 2rem;
		}

		// BUTTON Style --------

		.Game_tag {
			margin: 2rem 0 3rem 2rem;
			line-height: 1.5rem;
			font-weight: 600;
			padding: 0.375rem 0.75rem;
			border: 1px solid #FF4654;
			border-radius: 0.9rem;
		}

		.Link_playnow {
			margin: 0 0 10rem 2rem;
			background-color: #FF4654;
			color: #ffffff;
			padding: 0.75rem 1.5rem 0.75rem 1.5rem;
			border-radius: 0.75rem;
			font-size: 1.125rem;
			font-weight: 700;
			line-height: 1.66rem;
			width: 8rem;
		}
	}

	// ---------------------

	.about_text_div {
		width: 50%;
		margin-right: 12.5rem;

		h3 {
			margin-bottom: 2.25rem;
		}

		p {
			margin-bottom: 5rem;
		}
	}

	// _________________ Screenshot-Section ____________________________

	.screenshot_section {
		display: flex;
		justify-content: center;
		gap: 1.5rem;
		// margin-right: 5.5rem;

		img:nth-of-type(1) {
			width: 36rem;
			margin-left: auto;
		}

		img:nth-of-type(2) {
			width: 36rem;
			margin-right: auto;
		}
	}

	// _________________ Article - Information & Requirements _______________

	.main_article_system {
		// margin-right: 11rem;
		margin: 0 auto;
		display: flex;

		img {
			width: 37rem;
			margin-bottom: 6rem;
		}

		// ----- Additional Information-----------

		.information {
			width: 40rem;
			padding-left: 6rem;

			h3:nth-of-type(1) {
				margin: 6rem 0 2.25rem 0;
			}

			.headline {
				font-size: 1.5rem;
			}

			.developer_block {
				margin-top: 1.5rem;
				display: flex;
				justify-content: flex-start;
				gap: 2rem;

				h3 {
					margin-bottom: 1.7rem;
					line-height: 1.35rem;
					font-size: 1rem;
				}

				h3:nth-of-type(1) {
					margin-top: 0;
				}

				p {
					margin-bottom: 1.5rem;
					line-height: 1.5rem;
				}
			}
		}

		// -------- System Requirements Block -----------

		.requirements_article {
			// width: 50rem;
			padding-left: 12rem;

			.headline {
				font-size: 1.5rem;
			}

			h3 {
				font-size: 1rem;
			}

			p {
				font-size: 1rem;
			}

			h3:nth-of-type(1) {
				margin-top: 6rem;
			}

			.system_block_div {
				display: flex;
				justify-content: flex-start;
				gap: 4rem;

				.os_memory_storage {

					h3:nth-of-type(1) {
						margin-top: 2.25rem;
					}

					h3 {
						margin-bottom: 0.75rem;
					}

					p {
						margin-bottom: 3rem;
					}
				}

				.processor_graphics_notes {

					margin-right: 6rem;

					h3 {
						margin: 1.5rem 0 0.75rem 0;
					}

					h3:nth-of-type(1) {
						margin: 2.25rem 0 0.75rem;

					}

					h3:nth-of-type(3) {
						margin-top: 1.5rem;
					}

					p {
						margin-bottom: 3rem;
					}

					p:nth-of-type(3) {
						margin-bottom: 9rem;
					}
				}
			}
		}
	}
}