@font-face {
	font-family: "Oswald";
	src: url("../assets/fonts/Oswald.ttf");
	font-style: normal;
	font-weight: 200 700;
}

@font-face {
	font-family: "TitilliumWeb";
	src: url("../assets/fonts/titilliumWeb/TitilliumWeb-ExtraLight.ttf");
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: "TitilliumWeb";
	src: url("../assets/fonts/titilliumWeb/TitilliumWeb-Light.ttf");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "TitilliumWeb";
	src: url("../assets/fonts/titilliumWeb/TitilliumWeb-Regular.ttf");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "TitilliumWeb";
	src: url("../assets/fonts/titilliumWeb/TitilliumWeb-SemiBold.ttf");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "TitilliumWeb";
	src: url("../assets/fonts/titilliumWeb/TitilliumWeb-Bold.ttf");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "TitilliumWeb";
	src: url("../assets/fonts/titilliumWeb/TitilliumWeb-Black.ttf");
	font-style: normal;
	font-weight: 900;
}