$main_background_color: rgba(7, 7, 7, 1);
$main_foreground_color: rgb(240, 240, 240);



$paper_background_color: rgba(0, 0, 0, 0.75);
$paper_foreground_color: rgb(240, 240, 240);



$separator_color: rgb(70, 70, 70);

$game_item_description_color: #AFC7DF;

/** -------------------------------------------
					Button
----------------------------------------------- **/
$button_normal_foreground_color: rgba(240, 240, 240, 1);
$button_normal_background_color: rgba(0, 0, 0, 0);
$button_normal_border_color: rgba(255, 255, 255, 0.1);


// Hovered
$button_hovered_foreground_color: rgba(255, 255, 255, 1);
$button_hovered_background_color: rgba(255, 255, 255, 0.1);
$button_hovered_outline_color: rgb(75, 75, 150);

// Active
$button_active_background_color: rgba(255, 255, 255, 0.2);
$button_active_outline_color: rgb(125, 125, 200);

/** -------------------------------------------
					Link
----------------------------------------------- **/
$link_normal_foreground_color: $button_normal_foreground_color;
$link_normal_background_color: $button_normal_background_color;
$link_normal_border_color: $button_normal_border_color;

// Hovered
$link_hovered_foreground_color: $button_hovered_foreground_color;
$link_hovered_background_color: $button_hovered_background_color;
$link_hovered_outline_color: $button_hovered_outline_color;

// Active
$link_active_background_color: $button_active_background_color;


/** -------------------------------------------
					Link READ MORE 
----------------------------------------------- **/
$readmore_normal_foreground_color: $button_normal_foreground_color;
$readmore_normal_background_color: #FF4654;
$link_normal_background_color: $button_normal_background_color;

// Hovered
$link_hovered_foreground_color: $button_hovered_foreground_color;
$link_hovered_background_color: $button_hovered_background_color;
$link_hovered_outline_color: $button_hovered_outline_color;

// Active
$link_active_background_color: $button_active_background_color;

/** -------------------------------------------
					Cards
----------------------------------------------- **/

$card_normal_background_color: rgba(20, 20, 50);
$card_normal_foreground_color: rgba(240, 240, 240, 1);
$card_normal_border_color: rgba(255, 255, 255, 0.1);


$card_hovered_background_color: rgba(30, 30, 60);
$card_hovered_foreground_color: rgba(250, 250, 250, 1);
$card_hovered_border_color: rgba(255, 255, 255, 0.2);

$card_active_background_color: rgba(10, 10, 40);
$card_active_foreground_color: rgba(230, 230, 230, 1);
$card_active_border_color: rgba(55, 55, 55, 0.2);