$main_background_color: rgb(15, 15, 15);
$main_foreground_color: rgb(240, 240, 240);



$paper_background_color: rgba(0, 0, 0, 0.75);
$paper_foreground_color: rgb(240, 240, 240);

/** -------------------------------------------
					Button
----------------------------------------------- **/
$button_normal_foreground_color: rgba(240, 240, 240, 1);
$button_normal_background_color: rgba(0, 0, 0, 0);
$button_normal_border_color: rgba(255, 255, 255, 0.1);

// Hovered
$button_hovered_foreground_color: rgba(255, 255, 255, 1);
$button_hovered_background_color: rgba(255, 255, 255, 0.1);
$button_hovered_outline_color: rgb(75, 75, 150);

// Active
$button_active_background_color: rgba(255, 255, 255, 0.2);


/** -------------------------------------------
					Link
----------------------------------------------- **/
$link_normal_foreground_color: $button_normal_foreground_color;
$link_normal_background_color: $button_normal_background_color;
$link_normal_border_color: $button_normal_border_color;

// Hovered
$link_hovered_foreground_color: $button_hovered_foreground_color;
$link_hovered_background_color: $button_hovered_background_color;
$link_hovered_outline_color: $button_hovered_outline_color;

// Active
$link_active_background_color: $button_active_background_color;
